@font-face {
    font-family: 'PyeongChang';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'PyeongChang';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.ttf') format("truetype");
    font-display: swap;
} 